package ${controllerPackage};

import .platform.stage.mbiz.ApiIntfConfig;
import io.linlan.platform.stage.mbiz.constant.HttpStatusEnum;
import ${viewPackage}.manager.${className}OpManager;
import ${viewPackage}.vo.${className}Vo;
import io.linlan.commons.core.ResponseResult;
import io.linlan.commons.core.annotation.MemberLog;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.*;

/**
 *
 * ${className}控制域:${comments}增删改操作控制类
 * @Description <br>
 * <br>
 * @author ${author}
 * CreateTime ${datetime}<br>
 * <br>
 * @version 1.0<br>
 * @since 1.0<br>
 *
 */
@RestController
@RequestMapping("api/app/op/${classGroup}")
public class ${className}OpController {

    @Autowired
    private ${className}OpManager ${classname}OpManager;

    /** ${className} Operation. 检查对象${className}数据逻辑，根据操作类型，执行新增、修改、删除操作.
     * @param action 操作类型:10,新增;20,修改;40,删除|20
     * @param id #foreach($column in $columns)#if($column.columnName == $pk.columnName)$column.comments#end#end:null;1;1,2,3|1
     * @param input 输入对象信息
     * @return {@link String}:操作成功;操作失败
     */
    @MemberLog("检查对象${className}数据逻辑，根据操作类型，执行新增、修改、删除操作")
    @PostMapping("${sname}/{action}/{id}")
    public ResponseResult<String> ${classname}Op(@PathVariable(value = "action") String action,
                                               @PathVariable(value = "id") String id,
                                               @RequestBody ${className}Vo input) {
        if (${classname}OpManager.do${className}Op(action, id, input)){
            return ResponseResult.ok().setResultData(ApiIntfConfig.SUCCESS);
        }
        return ResponseResult.error(HttpStatusEnum.PARAMETER_ERROR.getCode(), HttpStatusEnum.PARAMETER_ERROR.getMsg())
                .setResultData(ApiIntfConfig.FAILURE);
    }

}
