package ${package}.dao;

import ${package}.entity.${className};
import org.apache.ibatis.annotations.Mapper;
import io.linlan.commons.db.mybatis.MybatisBaseDao;

/**
*
* ${className}数据域:${comments}持久层Dao
* <br>
* @author ${author}
* CreateTime ${datetime}<br>
* @version 1.0<br>
* @since 1.0<br>
*
*/
@Mapper
public interface ${className}Dao extends MybatisBaseDao<${className}> {


}
