package ${package}.dto;

import ${package}.entity.${className};
import lombok.Data;

/**
 *
 * ${className}数据域:${comments}Dto对象
 * <br>
 * @author ${author}
 * CreateTime ${datetime}<br>
 * @version 1.0<br>
 * @since 1.0<br>
 *
 */
@Data
public class ${className}Dto extends ${className} {

}
