package ${package}.param;

import io.linlan.common.param.BaseParam;
import java.util.Date;
#if(${hasBigDecimal})
import java.math.BigDecimal;
#end
import lombok.Data;

/**
 *
 * ${className}数据域:${comments}查询参数实体类
 * <br>
 * @author ${author}
 * CreateTime ${datetime}<br>
 * @version 1.0<br>
 * @since 1.0<br>
 *
 */
@Data
public class ${className}Param extends BaseParam {

#foreach ($column in $columns)
#if($column.attrname != $pk.columnName&&$column.attrname != 'priority'&&$column.attrname != 'createTime'&&$column.attrname != 'startTime'&&$column.attrname != 'endTime'&&$column.attrname != 'lastTime'&&$column.attrname != 'deleteTime'&&$column.attrname != 'userId')
    /**
     * $column.comments
     */
    private $column.attrType $column.attrname;
#end
#end

}
